.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  max-width:100vw;
  height:6.5vw;
  padding-left: 5vw;

}

.headerLogo{
  display:flex;
  align-self: center;
  gap:10px;
}

.headerLogo:hover{
  cursor:pointer
}

.headerMenu{
  display:flex;
  justify-content: space-evenly;
  width:50%;
  height:100%;

}

.menuItem1{
  max-width: 20%;
  font-size: 25px;
  align-self:center;
}

.menuItem1:hover{
  cursor: pointer;
  text-decoration: underline;
}

.menuItem2{
  max-width: 20%;
  font-size: 25px;
  align-self:center;
}

.menuItem2:hover{
  cursor: pointer;
  text-decoration: underline;
}

.menuItem3{
  max-width: 20%;
  font-size: 25px;
  align-self:center;
}

.menuItem3:hover{
  cursor: pointer;
  text-decoration: underline;
}

.menuButton{
  width: 20%;
  height:40%;
  font-size: 22.5px;
  font-weight: bold;
  background-color: rgba(126, 209, 45);
  color:white;
  border-radius: 8px;
  align-self: center;
}

.menuButton:hover{
  cursor: pointer;
  background-color: rgb(108, 177, 40);
}

.heroDiv{
  background-image: 
    linear-gradient(to bottom, rgba(255, 159, 43, 0.5), rgba(255, 159, 43, 0.5)),
    url('./assets/pictures/christina-wocintechchat-com-LQ1t-8Ms5PY-unsplash.png');
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.heroSection1{
  max-width: 50%;
  text-align: left;
  font-size: 55px;
  font-weight: bold;
  color:white;
  margin-bottom: -.15%;

}

.heroSection2{
  max-width: 50%;
  text-align: left;
  font-size: 28px;
  color:white;
  padding-bottom: -0.075%;

}

.actionButton{
  width:10%;
  height:5vh;
  font-size: 22.5px;
  font-weight: bold;
  background-color: rgba(126, 209, 45);
  color:white;
  border-radius: 8px;
}

.actionButton:hover{
  cursor: pointer;
  background-color: rgb(108, 177, 40);
}

.tombstones{
  display:flex;
  width:80%;
  height:20vh;
  margin-left: 10%;
  justify-content: space-between;
  justify-self: center;
  margin-bottom: 5%;
  /* background-color: green; */
}

.stone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:30%;
  min-height:80%;
  border-radius: 8px;
  margin-top: -5vh;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}

.stoneHeader{
  font-size: 35px;
  color:rgba(126, 209, 45);
  width:90%;
  align-self: center;
}

.stoneText{
  font-size: 20px;
  width:90%;
  align-self: center;
}

.theProblem{
  display:flex;
  justify-content: space-evenly;
  height:67.5vh;
  text-align: left;
  margin-bottom: 2.5vw;
}

.problemText{
  font-size: 20px;
}

.problemLeftSide{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:35%;
}

.clockIcon{
  height:35%;
  width:35%;
}

.problemButton{
  width:35%;
  height:5vh;
  font-size: 22.5px;
  font-weight: bold;
  background-color: rgba(126, 209, 45);
  color:white;
  border-radius: 8px;
}

.problemButton:hover{
  cursor: pointer;
  background-color: rgb(108, 177, 40);
}

.problemRightSide{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:35%;
}

.problemLeftHeader{
  font-size: 50px;
  color:rgba(255, 132, 39)
}

.problemHeader{
  color:rgba(255, 132, 39);
  font-size: 40px;
}

.howItWorks{
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-height: 110vh;
  width:100%;
  background-color: rgba(255, 159, 43) 
  ;
}

.worksHeader{
  font-size: 100px;
  font-weight: bold;
  color: white;
  margin-bottom: -0%;
}

.worksIcons{
  display:flex;
  justify-content: space-between;
  align-self: center;
  width:65%;

}

.workIcon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:25%;
}

.iconIcon{
  display: flex;
  align-content: center;
}

.workIconTop{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: -25%;
}

.iconText{
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.worksText{
  width:40%;
  font-size: 20px;
  color:white;
  align-self: center;
}




.adminInclusions{
  display:flex;
  flex-direction: column;
  /* justify-content:space-around; */
  align-content: center;
  align-items: center;
  /* background-color: pink; */
  width:50%;
  margin-left: 25%;
  margin-bottom: 7.5%;
}

.inclusionsTop{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  /* background-color:royalblue; */
}

.inclusion{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:20%;
}

.inclusionIcon{
  height:100px;
}

.inclusionText{
  font-size: 18px;
  color:white;
}

.inclusionsButton{
  width:30%;
  height:5vh;
  font-size: 22.5px;
  font-weight: bold;
  background-color: rgba(126, 209, 45);
  color:white;
  border-radius: 8px;
}

.inclusionsButton:hover{
  cursor: pointer;
  background-color: rgb(108, 177, 40);
}

.imagine{
  display:flex;
  width:100%;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin-bottom: 5vw;
  background-color: rgba(235, 235, 235);
}

.imagineContent{
  display: flex;
  width:55%;
  justify-content: space-evenly;
  align-items: center;
}

.imagineText{
  width:70%;
  font-size: 30px;
}


.worthYourWhile{
  display:flex;
  flex-direction: column;
  align-items: center;

  /* background-color: gray; */
}

.worthHeader{
  font-size: 55px;
  font-weight: bolder;
  color:rgba(255, 159, 43);
}

.worthTombstones{
  display:flex;
  justify-content: space-between;
  width:70%;
  /* background-color: royalblue; */
}

.worthTomb{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:30%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.worthText{
  font-size: 24px;
  font-weight: bolder;
}

.worthButton{
  width:10%;
  height:5vh;
  font-size: 22.5px;
  font-weight: bold;
  margin-top: 5vw;
  margin-bottom: 5vw;
  background-color: rgba(126, 209, 45);
  color:white;
  border-radius: 8px;
}

.worthButton:hover{
  cursor: pointer;
  background-color: rgb(108, 177, 40);
}

.contactForm{
  background-image: 
    linear-gradient(to bottom, rgba(126, 209, 45, 0.5), rgba(126, 209, 45, 0.5)),
    url('./assets/pictures/christina-wocintechchat-com-VpcgTEKerEQ-unsplash.png');
    /* transform: scaleX(-1); */
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  padding-top: 5vw;
  padding-bottom: 5vw;

}

.contactLeft{
  display: flex;
  flex-direction: column;
  width:25%;
  padding-top: 5vw;
  margin-left: -5vw;
  justify-content: space-around;
  /* background-color: royalblue; */
}

.getStartedText{
  font-size: 50px;
  font-weight: bolder;
  color:rgba(255, 159, 43);
}

.contactPrompt{
  font-size:20px;
  margin-top: -2.5%;
  font-weight: bold;
  color:black
}

.contactRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width:22.5%;
  background-color: white;
}

.contactRightTop{
  font-size: 40px;
  font-weight: bold;
  color:black;
  text-align: center;
}

.mc-field-group{
  font-size: 18px;
}

#mc_embed_signup{
  width:100%;
  background-color:rgba(126, 209, 45, 0);
}

.contactButton{
  background-color: rgba(255, 159, 43);
}

.asdf{
  background-color: salmon;
  display:flex;
  max-width: 90%;
  padding-left: 0px;
  justify-content: flex-start;
  align-content: left ;
}

/* #mc-embedded-subscribe{
  font-size: 24px;
  align-content: center;
  background-color: rgba(255, 159, 43);
} */


/* .contactRightTop{
  display: flex;
  justify-content: space-between;
  width:100%;
}

.contactName{
  background-color:rgba(127, 209, 45, 0);
  width:40%;
  min-height:30px;
  font-size: 18px;
  color:black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: black;
}

.contactName::placeholder{
  color:black;
  font-size: 18px;
}

.contactEmail{
  background-color:rgba(126, 209, 45, 0);
  width:40%;
  font-size: 18px;
  color:black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: black;
}

.contactEmail::placeholder{
  color:black;
  font-size: 18px;
  text-align: top ;

}

.contactMessage{
  background-color:rgba(126, 209, 45, 0);
  font-family: 'Montserrat', sans-serif;
  width:99%;
  min-height:200px;
  font-size: 18px;
  color:black;
  text-align: unset, start, top;
  border-color: black;
}

.contactMessage::placeholder{
  color:black;
  font-size: 18px;
}
.contactButton{
  width:30%;
  height:5vh;
  font-size: 22.5px;
  font-weight: bold;
  background-color:rgba(255, 159, 43);
  color:white;
  border-radius: 8px;
}

.contactButton:hover{
  cursor: pointer;
  background-color: rgb(191, 123, 40);
} */





.placeholderSection{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:10vw;
  /* background-color: royalblue; */
}

.placeholderText{
  width: 50%;
  font-size: 24px;
  font-weight: bold;
}


.footer{
  display: flex;
  max-width:100%;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  align-items: center;
  background-color: rgba(235, 235, 235);
}

.footerLeft{
  display:flex;
  flex-direction: column;
  width: 25%;
  text-align: left;
  /* background-color: royalblue; */
}

.footerMission{
  font-size:24px;
  font-weight: bold;
  margin-bottom: -2%;
}

.footerMissionText{
  font-size: 18px;
}

.footerContact{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -2%;

}

.footerEmail{
  font-size: 18px;
  color: blue;
}

.footerEmail:hover{
  cursor:pointer;
  text-decoration: underline;

}

.footerCenter{
  display:flex;
  flex-direction: column;
  align-content: center;
  width: 25%;
  /* background-color: royalblue; */
}

.footerMenu{
  font-size: 24px;
  font-weight: bold;
}

.footerMenuItems{
  margin-top: -2%;
}

.footerRight{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  /* background-color: royalblue; */
}

.socialMediaIcons{
  display:flex;
  width:100%;
  align-items: center;
  /* padding-left: 27.5%; */
  justify-content: space-evenly;
  /* background-color: green; */

}

.socialMediaIcons:hover{
  cursor:pointer;
}

.followUs{
  font-size: 24px;
  font-weight: bold;
}
.smIcon{
  height:40px
}