@media (max-width: 1200px){
     
/* HEADER SECTION */

    .header{
        height:10vw;
        max-width:1199px;
        /* background-color: royalblue; */
    }

    .menuItem1{
        max-width: 30%;
        font-size: 20px;
    }
    
    .menuItem2{
        max-width: 30%;
        font-size: 20px;

    }

    .menuButton{
        font-size: 20px;
        width: 30%;
        height:fit-content
    }

    /* HERO SECTION */

    .heroDiv{
        max-height: 800px;
        min-height: 650px;
    }

    .heroSection1{
        max-width: 50%;
        font-size: 40px;
    }

    .actionButton{
        /* width:fit-content; */
        height:5vh;
        font-size: 20px;
      }

/* TOMBSTONE SECTION */

    .tombstones{
        display:flex;
        width:80%;
        height:25vh;
        margin-bottom: 15vh;
    }


    /* PROBLEM SECTION */

    .theProblem{
        display:flex;
        justify-content: space-evenly;
        height:100vh;
        text-align: left;
        margin-bottom: 7.5vw;
      }

      .problemText{
        font-size: 20px;
        margin-top:-1vh;
      }
      
      .clockIcon{
        height:35%;
        width:66%;
      }

      .problemLeftHeader{
          font-size: 40px;
          font-weight: bolder;
      }

      .problemButton{
        /* width:65%; */
        /* height:7.5vh; */
        font-size: 22px;
        font-weight: bold;
        background-color: rgba(126, 209, 45);
        color:white;
        border-radius: 8px;
      }

      .problemheader{
          font-size: 30px;
          margin-bottom: -1vh;
      }


/* HOW IT WORKS SECTION */

      .worksIcons{
          width:85%;
      }

      .worksText{
          width:60%;
      }

      .adminInclusions{
          width:75%;
      }
/* 
      .inclusionsButton{
          width:35%;
      } */


/* IMAGINE SECTION */

      .imagineContent{
          width:75%
      }

/* WORTH YOUR WHILE SECTION */

      .worthTombstones{
          width:90%;
      }

      .worthTomb{
          width:25%;
          padding-left: 2%;
          padding-right: 2%;
      }
/* 
      .worthButton{
          width:15%;
      } */


/* CONTACT FORM SECTION */

      .contactForm{
          width:100%;
          height:325px;
          margin-bottom: 5vh;
      }

      .contactEmailIcon{
          height:150px;
      }

      .getStartedText{
          font-size: 35px;
      }

      .contactPrompt{
          font-size: 18px;
      }

      .contactFormSection{
          width: 400px;
      }

      .contactNameDiv{
          min-width:190px
      }

      .contactEmailDiv{
          min-width:190px;
      }

      .contactMessageDiv{
          width:400px;
      }


/* PLACEHOLDER SECTION */

      .placeholderSection{
          margin-bottom: 6vh;
      }


/* FOOTER SECTION */

      .followUs{
          font-size: 20px;
      }

      .smIcon{
          height:30px;
      }

      .footerLogo{
          width:100%;
          margin-top: 5%;
      }

/* MOBILE SECTION */
    .problemButtonMobile{
        display:none;
    }
    
    .footerLeftMobile{
        display:none;
    }
    
    .footerRightMobile{
        display:none;
    }
    
    .followUsMobile{
        display:none;
    }
    
    .socialMediaIconsMobile{
        display:none;
    }
    
    .smIconMobile{
        display:none;
    }
    
    .footerLogoMobile{
        display:none;
    }
}

@media (max-width: 992px){

/* HEADER SECTION */
    .header{
        max-width:992px;
        height: 10vw;
    }


/* HERO SECTION */

    .heroDiv{
        width: 992px;
        background-repeat:unset;
    }

    
/* TOMBSTONE SECTION */

    .tombstones{
        height:fit-content;
        width:85%;
        margin-left: 7.5%;
        margin-bottom: 2.5vw;
    }

    .stoneHeader{
        font-size: 28px;
    }


/* PROBLEM SECTION */

    .theProblem{
        display:flex;
        justify-content: space-evenly;
        height:fit-content;
        text-align: left;
        margin-bottom: 5vw;
      }

      .problemText{
        font-size: 18px;
        margin-top:-1vh;
      }
      
      .clockIcon{
        height:22.5%;
        width:50%;
      }

      .problemLeftHeader{
          font-size: 30px;
          font-weight: bolder;
      }

      .problemButton{
        width:65%;
        height:fit-content;
        font-size: 22px;
        font-weight: bold;
        background-color: rgba(126, 209, 45);
        color:white;
        border-radius: 8px;
      }

      .problemHeader{
          font-size: 30px;
      }

      .inclusionsButton{
          width:45%;
      }

/* HOW IT WORKS SECTION */ 
      
    .iconImage{
        width:180px;
        height:250px;
    }


/* IMAGINE SECTION */

    .imagineText{
        font-size: 25px;
    }


/* CONTACT FORM SECTION */

      .contactForm{
          margin-bottom: 0px;
      }

      /* .contactLeft{
          background-color: royalblue;
      } */

      .getStartedText{
          font-size: 30px;
      }

      .contactPrompt{
          width:150%;
          align-self: center;
      }

      .contactRight{
          width:200px;
          /* background-color: royalblue; */
          margin-left: 7vw;
          /* margin-left: -5vw; */
          /* padding-right: 15vw; */
      }

      .contactFormSection{
          width:200px;
      }

      .contactRightTop{
          width:fit-content;
          justify-content: space-evenly;
          /* background-color: salmon; */
      }

      .contactNameDiv{
          width:140px;
      }

      .emailName{
          width:140px;
      }

      .contactEmailDiv{
          width:140px;
      }

      .emailAddress{
          width:140px;
      }

      .contactMessageDiv{
          width:55%;
      }

/* PLACEHOLDER SECTION */
      .placeholderSection{
          height:fit-content;
          margin-bottom: 0px;
      }

      .placeholderText{
          width:80%;
          font-size: 20px;
      }

/* FOOTER SECTION */

      .footerLeft{
          width:30%
      }
    
      .footerCenter{
          width:30%
      }

      .footerRight{
          width:30%;
      }

      .footerLogo{
          margin-top: 10%;
      }
}


@media (max-width: 768px){

/* HEADER SECTION */

    .header{
        height:10vw;
        max-width:767px;
        /* background-color: royalblue; */
    }

    .headerLogo{
        max-width:75%;
    }

    .headerMenu{
        width:60%;
    }

    .menuItem1{
        max-width: 30%;
        font-size: 18px;
    }
    
    .menuItem2{
        max-width: 30%;
        font-size: 18px;

    }

    .menuButton{
        font-size: 18px;
        width: 30%;
    }


/* HERO SECTION */

    .heroDiv{
        max-height: 800px;
        min-height: 650px;
    }

    .heroSection1{
        max-width: 50%;
        font-size: 40px;
    }

    .actionButton{
        width:fit-content;
        height:fit-content;
        font-size: 20px;
      }


/* TOMBSTONE SECTION */

    .tombstones{
        display:flex;
        width:80%;
        height:25vh;
        margin-bottom: 15vw;
        margin-left: 10vw;
    }

    .stoneHeader{
        font-size: 20px;
    }

    .stoneText{
        font-size: 14px;
    }

/* PROBLEM SECTION */

    .theProblem{
        display:flex;
        justify-content: space-evenly;
        height:fit-content;
        text-align: left;
        margin-bottom: 15vw;
      }

      .problemText{
        font-size: 20px;
        margin-top:-1vh;
      }
      
      .clockIcon{
        max-height:150px;
        max-width:150px;
      }

      .problemLeftHeader{
          font-size: 40px;
          font-weight: bolder;
      }

      .problemButton{
        min-width:50%;
        font-size: 18px;
        font-weight: bold;
        background-color: rgba(126, 209, 45);
        color:white;
        border-radius: 8px;
      }

      .problemheader{
          font-size: 30px;
          margin-bottom: -1vh;
      }


/* HOW IT WORKS SECTION */

    .workIcons{
        width:90%;
        padding-top: 20px;
    }

    .iconImage{
        width:200px;
        height:250px;
    }

    .worksText{
        width:80%;
    }

    .adminInclusions{
        width:80%;
    }

    .inclusionsButton{
        width:45%;
    }


/* IMAGINE SECTION */

    .imagineContent{
        width:85%;
        justify-content: space-between;
    }

    .imagineText{
        font-size: 20px;
    }


/* WORTH YOUR WHILE SECTION */

    .worthTomb{
        justify-content: space-evenly;
    }

    .worthText{
        font-size: 18px;
    }

    .worthButton{
        width:fit-content;
    }


/* CONTACT FORM SECTION */

    .contactLeft{
        width:25%;
        /* margin-left: -10%; */
    }

    .contactEmailIcon{
        width:175px;
        height:auto;
        align-self: center;
    }

    .getStartedText{
        font-size: 30px;
    }

    .contactPrompt{
        font-size: 18px;
    }

    .contactRight{
        width:20%;
        margin-left: 0%;
    }

    .emailName{
        font-size: 15px;
    }

    .emailAddress{
        font-size: 15px;
    }
    
    .emailMessage{
        font-size: 15px;
    }


/* PLACEHOLDER SECTION */

    .placeholderText{
        width:75%;
        font-size: 20px;
    }
    

/* FOOTER SECTION */

    .footer{
        max-height:fit-content;
    }

    .footerLeft{
        height:60%;
        width:30%;
    }

    .footerMission{
        font-size: 20px;
    }

    .footerMissionText{
        font-size: 16px;
    }

    .footerContact{
        font-size: 20px;
    }
    .footerEmail{
        font-size: 16px;
    }
  
    .footerCenter{
        height:90%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width:30%;
    }

    .followUs{
        font-size: 16px;
    }

    .footerRight{
        height:90%;
        width:30%;
        margin-top: 3%;
        margin-bottom: 1.5%;
    }

    .footerLogo{
        margin-top: -20%;
    }

}


@media (max-width: 576px){

/* HEADER/MENU SECTION */
    .header{
        height:12.5vw;
        max-width:767px;
        padding-right: 15px;
    }

    .headerLogo{
        max-width:85%;
    }

    .headerMenu{
        width:70%;
    }

    .menuItem1{
        max-width: 30%;
        font-size: 14px;
    }
    
    .menuItem2{
        max-width: 30%;
        font-size: 14px;
    }

    .menuButton{
        font-size: 14px;
        width: fit-content;
        /* min-height: 9vw */
    }

/* HERO SECTION */

    .heroDiv{
        max-height: 700px;
        min-height: 550px;
        align-content: center;
        padding-left: 7.5%;
    }

    .heroSection1{
        max-width: 50%;
        font-size: 30px;
        text-align: center;
        margin-top: -7%;
        margin-bottom: 5%;
    }

    .heroSection2{
        max-width: 50%;
        font-size: 22px;
        text-align: center;
        margin-bottom: 5%;
    }

    .actionButton{
        width:fit-content;
        height:5vh;
        font-size: 18px;
        text-align: center;
        margin-left: 15%;
      }


/* TOMBSTONES SECTION */
    .tombstones{
        display:flex;
        width:90%;
        height:fit-content;
        margin-bottom: 7.5vw;
        margin-left: 5%;
    }

    .stone{
        width:30%;
        justify-content: space-evenly;
    }

    .stoneHeader{
        font-size: 20px;
    }

    .stoneText{
        font-size: 16px;
    }


/* PROBLEM SECTION */
    .theProblem{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height:fit-content;
        width:100%;
        text-align: center;
        margin-bottom: 7.5vw;
    }

    .clockIcon{
        display:none;
    }

    .problemText{
        font-size: 20px;
        margin-top:-1vh;
    }
        
    .problemLeftSide{
        width:75%;
        align-self: center;
    }

    .clockIcon{
        max-height:150px;
        max-width:150px;
    }

    .problemLeftHeader{
        font-size: 40px;
    }

    .problemButton{
        display:none;
    }

    .problemRightSide{
        width:75%;
        align-self: center;
    }

    .problemButtonMobile{
        display:flex;
        justify-content: center;
        width:40%;
        height:40px;
        font-size: 18px;
        font-weight: bold;
        background-color: rgba(126, 209, 45);
        color:white;
        border-radius: 8px;
        align-self: center;
        text-align: center;
        padding-top: 7.5px;
        margin-top: 5%;
    }

    .problemheader{
        font-size: 30px;
        margin-bottom: -1vh;
    }

/* HOW IT WORKS SECTION */

    .worksHeader{
        margin-top: 5vw;
    }

    .workIcons{
        width:90%;
        padding-top: 20px;
        justify-content: space-between;
    }

    .iconImage{
        min-width:150px;
        height:225px;
    }

    .iconText{
        width:125%;
        font-size: 22px;
        align-self: center;
    }

    .worksText{
        width:80%;
    }

    .adminInclusions{
        width:80%;
        align-self: center;
    }

    .inclusionIcon{
        height:80px;
    }

    .inclusionsButton{
        width:55%;
        margin-top: -10px;
        margin-bottom: 10px;
    }

/* IMAGINE SECTION */

    .imagineContent{
        width:90%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        justify-content: space-between;
    }

    .imagineText{
        font-size: 20px;
        max-width:60%;
    }


/* WORTH SECTION */

    .worthTomb{
        justify-content: space-evenly;
    }

    .worthIcon{
        height:120px;
    }

    .worthText{
        font-size: 18px;
    }

    .worthButton{
        width:fit-content;
    }


/* CONTACT FORM SECTION */

    .contactForm{
        width: 600px;
        background-size: 210%;
        background-position-x: left, 69%;
        /* margin-left: -50vw; */
        flex-direction: column;
        /* height: fit-content; */
        /* background-color: white; */
    }

    .contactLeft{
        width:20%;
        max-height: 30%;
        /* margin-left: 35%; */
    }

    
    .contactEmailIcon{
        display: none;
        max-width:100px;
        height:auto;
        align-self: center;
    }

    .getStartedText{
        font-size: 30px;
        width:250%;     
        align-self: center;
    }
    
    .contactPrompt{
        font-size: 14px;
        width:250%;
    }
    .contactRight{
        width:30%;
        /* margin-left: -20%;
        margin-left: 50%; */
        margin-bottom: 3%;
        padding-top: 10px;
    }

    .contactMessageDiv{
        max-height: 100px;
    }

    .emailMessage{
        height:75px;
        margin-top: -25px;
    }

    .emailSubmit{
        height:fit-content;
        font-size: 20px;
    }

/* PLACEHOLDER SECTION */

    .placeholderText{
        width:85%;
        font-size: 18px;
    }
    
/* FOOTER SECTION */
    .footerLeft{
        display:none;
    }

    .footerLeftMobile{
        display:flex;
        width:40%;
        height:90%;
        width:27.5%;
    }

    .footerMission{
        font-size: 18px;
        text-align: left;
    }

    .footerMissionText{
        font-size: 14px;
        text-align: left;
    }

    .footerContact{
        font-size: 16px;
        margin-bottom: -10px;
        text-align: left;
    }

    .footerEmail{
        font-size: 14px;
        text-align: left;
    }
  
    .footerCenter{
        height:90%;
        display:none;
        flex-direction: column;
        justify-content: space-between;
        width:27.5%;
    }

    .followUs{
        display:none;
    }

    .socialMedaiIcons{
        display:none;
    }

    .smIcon{
        display:none;
    }
    
    .footerRight{
        display:none;
        width:30%;
    }

    .footerRightMobile{
        display:flex;
        height:90%;
        width:40%;
    }
    
    .followUsMobile{
        display:flex;
        width:150%;
        font-size: 16px;
        margin-left: 15%;
    }
    
    .socialMediaIconsMobile{
        display:flex;
        width:100%;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 10px;
        margin-left: 10%;
    }
    
    .smIcon{
        height: -50%;
    }
    
    .smIconMobile{
        display:flex;
        height: 30px;
    }
    .footerLogo{
        display:none;
    }

    .footerLogoMobile{
        display:flex;
        width:100%;
        margin-top: 25px;
        /* margin-left: -30%; */
    }

}

@media (max-width: 450px){
    /* Calendly */

    .calendly{
        position:fixed;
        top:10%;
        border-style: solid;
        border-width: 2px;
        border-color: gray;
    }

    /* Header Section */

    .headerLogo{
        max-width: 90%;
    }

    .menuItem1{
        font-size: 10px;
    }

    .menuItem2{
        font-size: 10px;
    }
    
    .menuButton{
        font-size: 10px;
    }

    /* Hero Section */

    .heroDiv{
        background-position-x: left, 20%;
    }

    .heroSection1{
        max-width:35%;
    }

    .heroSection2{
        max-width: 35%;
    }

    .actionButton{
        margin-left: 50px;
    }

    /* Tombstone Section */

    .stone{
        justify-content: space-between;
    }

    .stoneHeader{
        font-size: 14px;
    }

    .stoneText{
        font-size: 12px;
    }

    /* Problem Section */

    .problemButtonMobile{
        width:fit-content;
        padding-left: 10px;
        padding-right: 10px;
        /* height:fit-content; */
    }

    /* How It Works Section */

    .worksHeader{
        font-size: 50px;
        padding-top: 25px;
    }

    .worksIcons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .workIcon{
        width:55%
    }

    .inclusionIcon{
        max-width: 55px;
    }

    .inclusionText{
        font-size: 13px;
    }

    .inclusionsButton{
        height:unset;
        width:fit-content;
        font-size: 20px;
    }

    /* Imagine Section */

    .imagineContent{
        gap:25px;
    }

    .computerScreen{
        width: 140px
    }

    .imagineText{
        font-size: 15px;
    }

    /* Worth Section */


    .worthHeader{
        font-size: 40px;
    }

    .worthTomb{
        justify-content: space-between;
    }
    .worthIcon{
        max-width: 80px;
        max-height: 80px;
    }

    .worthText{
        font-size: 12px;
    }

    .worthButton{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    /* Contact Form */

    .getStartedText{
        width:200%;
        margin-left: -135%;
    }

    .contactPrompt{
        margin-left: -135%;
    }

    .contactRight{
        /* margin-right: -185%; */
        margin-right: 30%;
    }

    
    /* Footer */
    
    .footerContact{
        font-size: 14px;
    }
    
    .footerEmail{
        font-size: 12px;
    }

    .footerLogoMobile{
        width:125%;
        margin-left: -25%;
        margin-top: 10%;
    }


}
